.cover-photo{
    height: 150px;
    width: 100%;
    border: 1px solid #ddd;
    position: relative;
    margin-bottom: 80px;
}
.cover-img{
    height: 100%;
    width: 100%;
}
.profil-photo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    position: absolute;
    top: 60%;
    left: 40%;
    border: 1px solid #ddd;
    z-index: 3;
    background: #fff;
}
i{
    padding: 6px 10px;
    background: #e8e8e8;
}
.profile-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.btn-success{
    margin: 20px 10px;
    padding: 8px 25px;
}
.btn-info{
    margin: 20px 10px;
    padding: 8px 25px;
}
.btn-danger{
    margin: 20px 10px;
    padding: 8px 25px;
}
.cover{
    height: 200px;
    width: 80%;
    border: 1px solid #ddd;
    position: absolute;
    background: #fff;
    top: 50px;
    left: 10%;
    z-index: 99;
    padding: 20px 30px;

}
.btn{
    margin: 5px;
}