<div class="row">
  <div class="col-sm-12" style="margin-bottom: 25px;" >
    <h3 style="color: orangered">Propganda</h3>
  </div>

  <div class="col-sm-12" style="border-bottom: 1px solid #ddd;">
    <ul class="main-nav">
      <li routerLinkActive="active"><a routerLink="social-feed" routerLinkActive="active">Social Feed</a></li>
      <li routerLinkActive="active"><a routerLink="events" routerLinkActive="active">Events</a> </li>
      <li routerLinkActive="active"> <a routerLink="news" routerLinkActive="active">News</a> </li>
      <li routerLinkActive="active"> <a routerLink="messages" routerLinkActive="active">Message</a> </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <router-outlet></router-outlet>

  </div>
</div>