<div class="row">
    <div class="col-sm-12" style="margin-bottom: 25px;" >
      <h3 style="color: orangered">People</h3>
    </div>
  
    <div class="col-sm-12" style="border-bottom: 1px solid #ddd;">
      <ul class="main-nav">
        <li routerLinkActive="active"><a routerLink="grivence" routerLinkActive="active">Grivence</a></li>
        <li routerLinkActive="active"><a routerLink="survey" routerLinkActive="active">Survey</a> </li>
        <li routerLinkActive="active"> <a routerLink="meet-up" routerLinkActive="active">MeetUp</a> </li>
      </ul>
    </div>
    <div class="col-sm-12">
      <router-outlet></router-outlet>
  
    </div>
  </div>