<div class="row">
  <div class="col-sm-8 ">

    <div class="card">
      <div class="card-body text-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Youtube/FB/Twitter links and custom message">
          
        </div>
        <a href="" class="upload-image">Image Upload</a>
        
      </div>
      <div class="card-footer text-center">
        <a href="">POST</a>
      </div>
    </div>

    <div class="old-post">
      <p>Post 1</p>
      <div class="text-right well">
      <span>Likes</span> / <span>Views</span>
       <button class="btn btn-info">Edit</button>
       <button class="btn btn-danger">Delete</button>
       
      </div>
    </div>

  </div>
</div>