/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    padding: 0px;
    margin: 0px;
}
.active{
    color: orangered ;
}
a{
    color: rgb(70, 69, 69);
}