<div class="row" style="border-right: 1px solid #ddd;padding: 20px 0px;">
   <div class="col-sm-12">
    <div class="logo">
      <h5>Jansevak <br> App</h5>
    </div>
  
   </div>
  <div class="col-sm-12 text-center" style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
   
      <h5>Jansevak App</h5>

    </div>

    <div class="col-sm-12 " style="border-bottom: 1px solid #ddd;">
      <ul class="side-nav">
        <li routerLinkActive="active"><a routerLink="portfolio" >Portfolio</a></li>
        <li routerLinkActive="active"><a routerLink="propganda">Propganda</a></li>
        <li routerLinkActive="active"><a routerLink="people">People</a></li>
        <li routerLinkActive="active"><a routerLink="profile">Profile</a></li>
        <li routerLinkActive="active"><a routerLink="config">Config</a></li>
        

      </ul>
    </div>

    <div class="col-sm-12 text-center" style="border-bottom: 1px solid #ddd;">
        <h5>Member App</h5>
      
      </div>


</div>